<header>
    <h1>Private</h1>
</header>
<main>
    <ul>
        <li>{{user.username}}</li>
        <li>{{user.first_name}}</li>
        <li>{{user.second_name}}</li>
        <li>{{user.profession}}</li>
        <li>{{user.bio}}</li>
    </ul>
</main>