<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tang Court</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Template by TemplateMo.com  --> 
<div id="templatemo_container">
	<div id="templatemo_header">
    	<div id="site_title"></div>
    </div>
    
    <div id="templatemo_menu">
        <ul>
        	<li ><a href="/"><strong>Home</strong></a></li>
            <li ><a href="contact"><strong>contact us</strong></a></li>
            <li ><a href="login"><strong>login/sign up</strong></a></li>
            <li id="username"><h2>{{mark}}</h2></li>
        </ul>
        <form>
              <input name="factor" type="text" placeholder="search here!"><input type="submit" value="search" />
            </form>
    </div> 
   
    <div id="templatemo_top_dishes">

      <h1>Area</h1>
     
         
         {{#factor}}
      <ul> 
       	  <li ><img src="{{url}}" alt="image" /></li>
           <li><h2>{{name}}({{area}})</h2></li> 
           <li><a href="comment?id={{name}}">Add Comment</a> </li> 
           
            </ul>
            <p> ingredients:</p>
            
            <ul>
                {{#each ingredients}}
                <li>{{this}}</li>
               {{/each}}
            </ul>   
           
          <p>Steps:</p>
        
          <ol>
                {{#each steps}}
              <li>{{this}}</li>
             {{/each}}
          </ol>
         

    {{/factor}}
   
   

      
        

        <div class="cleaner">&nbsp;</div>
    
   </div> 
    
    <div id="templatemo_content">
    	<span class="top"></span>
        <div class="cleaner" style="background: #fff;">&nbsp;</div> 	
    </div>


<div id="templatemo_footer">
    
    	<a href="/">Home</a> | <a href="/contact">Contact Us</a><br />
        Copyright © 2024 <a href="#"><strong>Tang Court</strong></a> 
        </div>

</div>
</body>
</html>